.home {
    background-image: url("https://cdn.pixabay.com/photo/2014/11/09/08/04/hand-523231_960_720.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home__heading > h1 {
    color: black;
    font-size: 62px;
    letter-spacing: 4px;
    text-decoration: underline;
}

.home__heading {
    display: flex;
    justify-content: center;
}

.home__buttonContainer {
    color: black;
    text-align: center;
}